* {
    font-size: 10px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    overflow-x: hidden;
}

body {

    font-family: 'Montserrat', sans-serif;
}

/* starting from the smallest screen portrait */

header {
    overflow-x: hidden;
    position: relative;
    /* margin-top: 5vh; */
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

header img:nth-child(1) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 46vh;
    height: 46vh;
    /* 46vh looking good or all phone models  */
}

.photocopy-machine {
    position: relative;
    height: 220px;
    background-image: url(./images/mobile_portrait/ksero-obraz-header.jpg);
    background-size: cover;
}

.photocopy-machine h1 {
    position: absolute;
    color: rgb(242, 234, 234);
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.600);
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    min-height: 100vh;
    padding-bottom: 5vh;

}

.contact {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 140px;
    width: 100%;
    letter-spacing: 1px;
    color: rgb(24, 86, 131)
}

.contact div {
    font-size: 1.4rem;
    font-weight: 700;
}

.contact span {
    display: inline-block;
    position: relative;
    background-color: rgb(24, 86, 131);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translateY(+15%)
}

.contact i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: rgb(252, 197, 80);
    flex-grow: 1;
}

nav {
    width: 100vw;
}

nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav ul div {
    position: relative;
    width: 100%;
    height: 120px;
    padding: 10px;

}


nav ul div:nth-child(odd) {
    background-color: rgb(221, 221, 221)
}

nav ul div:hover {
    background-color: rgba(24, 86, 131, 0.706)
}

nav ul div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 85px;
    height: 85px;
}

nav ul div h2 {
    position: absolute;
    bottom: 1.5%;
    font-size: 1.2rem;
}

nav ul div:hover h2 {
    color: rgb(252, 197, 80);
    font-size: 1.3rem;
}

.separator {
    width: 100%;
    height: 15px;
    background-color: rgba(37, 35, 35);
}

footer {
    padding: 3%;
    background-color: rgb(24, 86, 131);
    font-weight: 400;
    color: rgb(252, 197, 80);
    text-align: center;
    letter-spacing: 1.2px;
}

body>footer>p:nth-child(1)>a {
    display: inline-block;
    color: rgb(221, 221, 221);
    padding: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
}

/* HORIZONTAL MOBILE */
@media (orientation: landscape) {
    header img:nth-child(1) {
        height: 100vh;
        width: 100vh;
    }

    .photocopy-machine {
        background-image: url(./images/mobile_horizontal/ksero-tlo.jpg);
    }

    .contact {
        flex-direction: row;
        padding: 5px;
        height: 80px;
    }

    nav ul div img {
        width: 78px;
        height: 78px;
    }

    nav ul div h2 {
        width: 95%;
        text-align: center;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul div {
        width: 33.3%;
    }

}

/* VERY SMALL PORTRAIT MOBILE-DEVICES (like iphone 5/SE) */
@media (max-width: 320px) and (orientation: portrait) {

    header {
        margin-top: 1vh;
    }

    header img {
        width: 150px;
    }

    .photocopy-machine {
        height: 150px;
    }

    .photocopy-machine h1 {
        padding: 10px;
        font-size: 1.2rem;
    }

    .contact {
        padding: 15px;
        font-size: 1.1rem;
    }
}

/* MEDIUM DEVICES - TABLETS */

/* portrait first */

@media (min-width: 768px) and (min-height: 768px) {
    .photocopy-machine {
        background-image: url(./images/tablets/ksero-tlo-glowna.jpg);
        height: 300px;
    }

    .photocopy-machine h1 {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .contact {
        height: 200px;
        flex-direction: row;
        padding: 5px;
        height: 80px;
    }

    .contact div {
        font-size: 2rem;
    }

    .contact span {
        width: 30px;
        height: 30px;
    }

    .contact i {
        font-size: 2rem;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul div {
        width: 33.3vw;
        height: 33.3vw;
    }

    nav ul div img {
        width: 160px;
        height: 160px;
    }

    nav ul div h2 {
        width: 95%;
        text-align: center;
        font-size: 1.5rem;
    }

}

/* landscape */

@media (min-width: 768px) and (min-height: 768px) and (orientation: landscape) {}