* {
    font-size: 10px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* starting from the smallest screen portrait */

header {
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    background-color: rgb(234, 233, 230);
}

header img:nth-child(1) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 46vh;
    height: 46vh;
    /* 46vh looking good or all phone models  */
}

.photocopy-machine {
    position: relative;
    height: 220px;
    background-image: url(./images/slider_backgrounds/1.jpg);
    background-size: cover;
    transition: 1.5s;
}

.photocopy-machine h1 {
    position: absolute;
    color: rgb(242, 234, 234);
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0.600);
    transition: 1.5s;
}

.fa-map-marker-alt {
    color: red;
    font-size: 2rem;
}

.photocopy-machine h1 a {
    color: rgb(242, 234, 234);
    text-decoration: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    min-height: 100vh;
    padding-bottom: 5vh;

}

.contact {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 140px;
    width: 100%;
    letter-spacing: 1px;
    color: rgb(24, 86, 131)
}

.contact div {
    font-size: 1.4rem;
    font-weight: 700;
}

.contact span {
    display: inline-block;
    position: relative;
    background-color: rgb(24, 86, 131);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translateY(+15%)
}

.contact i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: rgb(252, 197, 80);
    flex-grow: 1;
}

nav {
    width: 100vw;
}

nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav ul div {
    position: relative;
    width: 100%;
    height: 120px;
    padding: 10px;
    color: rgb(0, 0, 0);
}

body>div.wrapper>nav>ul>div:nth-child(odd) {
    background-color: rgb(234, 233, 230)
}

body>div.wrapper>nav>ul>div:hover {
    background-color: rgba(47, 131, 191, 0.706)
}

body>div.wrapper>nav>ul>div:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

body>div.wrapper>nav>ul>div>a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

nav ul div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 85px;
    height: 85px;
}

nav ul div h2 {
    position: absolute;
    bottom: 1.5%;
    font-size: 1.2rem;
    color: black;
}

nav ul div:hover h2 {
    color: rgb(252, 197, 80);
    font-size: 1.3rem;
}

.separator {
    width: 100%;
    height: 3px;
    background-color: rgba(37, 35, 35);
}

footer {
    padding: 10px;
    background-color: rgb(24, 86, 131);
    font-weight: 400;
    color: rgb(252, 197, 80);
    text-align: center;
    letter-spacing: 1.2px;
}

body>footer>p:nth-child(1)>a {
    display: inline-block;
    color: rgb(221, 221, 221);
    padding: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
}

/* HORIZONTAL MOBILE */
/* phone models i use for tests: iPhone from SE5-6 to the newest models like iPhone Pro Max 12/13+ and bascis resolut */
@media (orientation: landscape) {
    header img:nth-child(1) {
        height: 100vh;
        width: 100vh;
    }

    .photocopy-machine {
        background-image: url(./images/slider_backgrounds/1.jpg);
        background-position: 20%;
    }

    .contact {
        flex-direction: row;
        padding: 5px;
        height: 80px;
    }

    nav ul div img {
        width: 78px;
        height: 78px;
    }

    nav ul div h2 {
        width: 95%;
        text-align: center;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul div {
        width: 33.3%;
    }

}

/* VERY SMALL PORTRAIT MOBILE-DEVICES (like iphone 5/SE) */
@media (max-width: 320px) and (orientation: portrait) {

    header {
        margin-top: 1vh;
    }

    header img {
        width: 150px;
    }

    .photocopy-machine {
        height: 150px;
    }

    .photocopy-machine h1 {
        font-size: 1.2rem;
    }

    .contact {
        padding: 15px;
        font-size: 1.1rem;
    }
}

/* MEDIUM DEVICES - TABLETS */
/* models of tablets i tested: iPad, iPad Pro, AiriPadOS and basics reso on android */
/* portrait first */

@media (min-width: 768px) and (min-height: 768px) {
    .photocopy-machine {
        background-image: url(./images/slider_backgrounds/1.jpg);
        height: 300px;
    }

    header img:nth-child(1) {
        height: 50vh;
        width: 50vh;
    }

    .photocopy-machine h1 {
        height: 75px;
        line-height: 75px;
    }

    .photocopy-machine h1,
    .photocopy-machine h1 a {
        font-size: 2rem;
        letter-spacing: 2px;
    }

    .fa-map-marker-alt {
        font-size: 2rem;
    }

    .contact {
        height: 200px;
        flex-direction: row;
        padding: 5px;
        height: 80px;
    }

    .contact div {
        font-size: 2rem;
    }

    .contact span {
        width: 30px;
        height: 30px;
    }

    .contact i {
        font-size: 2rem;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul div {
        width: 33.3vw;
        height: 33.3vw;
    }

    nav ul div img {
        width: 160px;
        height: 160px;
    }

    nav ul div h2 {
        width: 95%;
        text-align: center;
        font-size: 1.5rem;
    }

    nav ul div:hover h2 {
        font-size: 1.5rem;
    }

    footer p {
        font-size: 1.5rem;
    }

    body>footer>p:nth-child(1)>a {
        font-size: 1.6rem;
    }


}

/* landscape */
@media (min-width: 768px) and (min-height: 768px) and (orientation: landscape) {

    nav>ul>div h2 {
        font-size: 2rem;
    }

    nav>ul>div:hover h2 {
        font-size: 2.2rem;
    }
}

/* big tablets like iPadPro portrait look */
@media (min-width: 1024px) and (min-height: 1364px) and (orientation: portrait) {
    .photocopy-machine {
        height: 450px;
    }

    .photocopy-machine h1 {
        line-height: 90px;
        height: 90px;
    }

    .photocopy-machine h1,
    .photocopy-machine h1 a {
        font-size: 2.5rem;
        letter-spacing: 2px;
    }

    .fa-map-marker-alt {
        font-size: 2.5rem;
    }

    .contact div {
        font-size: 2.8rem;
    }

    nav ul div img {
        width: 180px;
        height: 180px;
    }

    nav ul div h2 {
        font-size: 2rem;
    }

    footer p {
        font-size: 1.9rem;
    }

    body>footer>p:nth-child(1)>a {
        font-size: 2rem;
    }


}

/* small/avg desktops - testing on laptop with HiDPI */

@media (min-width: 1198px) and (orientation: landscape) {

    .wrapper,
    body,
    header {
        background-color: rgba(232, 232, 232, 0.291);
    }

    .main-info {
        position: relative;
        top: 0vh;
        flex-wrap: wrap;
        flex-direction: row;
        min-height: 25vh;
        padding-bottom: 0vh;
    }

    .main-info .contact {
        position: relative;
        width: 70vw;
        font-size: 1.6rem;
    }

    header img:nth-child(1) {
        width: 33vh;
        height: 33vh;
        margin: 0px;
    }

    header {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .photocopy-machine {
        width: 100vw;
        height: 50vh;
        background-image: url(./images/slider_backgrounds/1.jpg);
        background-position: 35%;
    }

    .photocopy-machine h1 {
        font-size: 2.3rem;
    }

    .photocopy-machine h1 a {
        font-size: 2.3rem;
    }

    nav {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 65vw;
        margin-bottom: 10vh;

    }

    nav ul div {
        width: calc(65vw/5);
        height: calc(65vw/5);
        padding: 0px;
        transition: 0.5s;
    }

    nav ul div:hover {
        cursor: pointer;
    }

    nav ul div img {
        width: 60%;
        height: 60%;
    }

    nav ul div h2 {
        font-size: 1.5rem;
        font-weight: 500;
        width: 100%;
        padding: 0px 5px;
    }

    nav ul div:hover h2 {
        font-size: 1.5rem;
    }

    .fa-map-marker-alt {
        font-size: 2.4rem;
    }

    .separator {
        height: 5px;
    }

    footer {
        padding: 10px;
    }
}

@media (min-width: 3839.98px) {
    .main-info header h1 {
        font-size: 5rem;
        height: 200px;
        line-height: 200px;
    }

    .photocopy-machine>h1 a {
        font-size: 5rem;
    }

    header img:nth-child(1) {
        width: 50vh;
        height: 50vh;
    }

    .fa-map-marker-alt {
        font-size: 4rem;
    }

    .contact {
        padding-bottom: 3vh;
    }

    .contact div {
        font-size: 4rem;
    }

    .contact span {
        width: 50px;
        height: 50px;
    }

    .contact i {
        font-size: 4rem;
    }

    nav ul div h2 {
        font-size: 3.5rem;
    }

    footer p {
        font-size: 3.8rem;
        padding: 3px;
    }

    body>footer>p:nth-child(1)>a {
        font-size: 4rem;
    }
}