* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}

header img:nth-child(1) {
    position: relative;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    width: 30vw;
    height: 30vw;
}

header .cover {
    position: relative;
    width: 100vw;
    height: 30vh;
}

header .cover img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .cover h3 {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.600);
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: rgb(242, 234, 234);
    font-weight: 600;
    height: 60px;
    line-height: 60px;
}

.description {
    padding: 5vw;
    line-height: 120%;
    letter-spacing: 1.2px;
    font-size: 1.3rem;
}

.price-list {
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    width: 100%;
    padding: 5vw;
}

.price-list div {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.price-list div:nth-child(odd) {
    background-color: rgb(234, 233, 230)
}

.wiki {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
    padding: 5vw;
}

.wiki:hover {
    cursor: pointer;
}

.wiki a {
    text-decoration: none;
}

button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 2vw;
    height: 4vh;
}

button:hover {
    cursor: pointer;
}

button i {
    background-color: rgb(252, 197, 80);
    font-size: 1.6rem;

}

body>button>a {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.separator {
    width: 100%;
    height: 3px;
    background-color: rgba(37, 35, 35);
}

footer {
    padding: 3%;
    background-color: rgb(24, 86, 131);
    font-weight: 400;
    color: rgb(252, 197, 80);
    text-align: center;
    letter-spacing: 1.2px;
}

body>footer>p:nth-child(1)>a {
    display: inline-block;
    color: rgb(221, 221, 221);
    padding: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
}

@media (orientation: landscape) {
    header img:nth-child(1) {
        width: 15vw;
        height: 15vw;
    }

    header .cover {
        height: 50vh;
    }

    header .cover img {
        width: 100%;
        height: 100%;
    }

    button {
        height: 4vw;
    }

    .description,
    .price-list {
        padding: 2.5vw;
    }

    .wiki {
        padding: 1.25vw;
    }
}

@media (min-width: 767.98px) and (min-height: 767.98px) {
    header .cover {
        height: 30vh;
    }

    header .cover h3 {
        font-size: 2.3rem;
    }

    footer {
        padding: 1%
    }
}

/* big tablets like iPadPro portrait look */
@media (min-width: 1024px) and (min-height: 1364px) and (orientation: portrait) {
    body {
        min-height: 100vh;
    }

    header .cover h3 {
        font-size: 3rem;
        height: 78px;
        line-height: 78px;
    }

    .description {
        font-size: 2.4rem;
    }

    .price-list div p,
    .price-list div span {
        font-size: 2.3rem;
    }

    button {
        font-size: 2rem;
    }

    button i {
        font-size: 2.3rem;
    }

    .wiki {
        font-size: 1.6rem;
    }

    footer {
        padding: 3%;
        font-size: 1.5rem;
    }

    body>footer>p:nth-child(1)>a {
        font-size: 1.6rem;
    }

    .separator {
        height: 5px;
    }
}

/* small/avg desktops + large tablets landscape - testing on laptop with HiDPI */

@media (min-width: 1198px) and (orientation: landscape) {
    body {
        background-color: rgba(240, 235, 235, 0.535);
    }

    header {
        background-color: rgba(246, 241, 241, 0.787);
        display: flex;
        flex-direction: column-reverse;
        width: 65vw;
        left: 50%;
        transform: translateX(-50%);
    }

    header .cover img {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .description {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 65vw;
        letter-spacing: 2px;
        line-height: 150%;
    }

    header .cover h3 {
        left: 0%;
        width: 65vw;
    }

    .price-list {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 65vw;
    }

    .price-list div {
        padding: 8px;
    }

    .wiki {
        font-size: 1.1rem;
    }


    button {
        font-size: 1.5rem;

    }

    button i {
        font-size: 1.7rem;
    }
}

@media (min-width: 1919.98px) and (orientation: landscape) {
    header .cover h3 {
        height: 78px;
        line-height: 78px;
        padding: 0px;
    }

    .description {
        font-size: 2rem;
        line-height: 160%;
        letter-spacing: 2.2px;
    }

    .price-list div p,
    .price-list div span {
        font-size: 2rem;
        padding: 8px;
    }

    .wiki {
        font-size: 1.4rem;
    }

    button,
    button i {
        font-size: 2.1rem;
    }


    footer p {
        font-size: 1.9rem;
    }

    body>footer>p:nth-child(1)>a {
        font-size: 2rem;
    }


}

@media (min-width: 3839.98px) {
    .cover>h3:nth-child(2) {
        font-size: 5rem;
        line-height: 200px;
        height: 200px;
    }

    .description {
        font-size: 4.5rem;
    }

    .price-list div p,
    .price-list div span {
        font-size: 4.5rem;
        padding: 10px;
    }

    .wiki {
        font-size: 2.6rem;
    }

    button,
    button i {
        font-size: 5rem;
    }

    footer p {
        font-size: 3.5rem;
    }

    body>footer>p:nth-child(1)>a {
        font-size: 3.7rem;
        padding: 10px;
    }
}